.list {
	background-color: rgba(23, 25, 65, 0.9);
	width: 350px;
	max-width: 350px;
	padding: 6px;
	margin: 5px;
	// display: inline-block;
	display: inline-table;
	position: relative;
	right: 40px;
	
	$border: 3px;
	color: #FFF;
	background-clip: padding-box;
	border: solid $border transparent;
	border-radius: 1em;

	// overflow: relative!important;

	overflow: auto;

	min-height: 200px;
	// max-height: 200px;
	// height: 100%;
	
	&:before {
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: -1;
		margin: -$border;
		border-radius: inherit;
		background: linear-gradient(45deg, #0afacf 0%, #dc7bff 100%);
		overflow :auto;
		min-height: 200px;
		max-width: 350px;
		// max-height: 200px;
		// height: 100%;
	}
}

.list__title {
	margin: 0;
	// padding: 16px 0;
	padding: 16px 0 38px;
}

.card_button {
	width: 100%;
	display: block;
	text-decoration: none;
	// margin-top: 10px;
	background-color: rgba(23, 25, 65, 0.1);
	border: 2px solid rgba(23, 25, 65, 0.9);
	border-radius: 1em;
	color: #e14eca;
	outline: none;
	transition: border-color 0.3s;
}

.card_button:hover{
	border-color: #e14eca;
}

input{
  width: 300px;
  padding: 10px;
  border: 1px solid violet;
  outline: 0;
  background: #fff;
  box-shadow:none;
}

#createIssueButton{
	position: absolute;
	top:   48px;
	right: 0px;
}