player-connection-mode=Listen
player-connection-guid=248431164
player-connection-debug=0
player-connection-project-name=Audio-Suite VR Implementation
player-connection-ip=137.215.39.246
player-connection-ip=172.30.6.233
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=1
vr-device-list=Oculus,OpenVR
hdr-display-enabled=0
