<!-- sidebar -->
<div class="sidebar">
    <h2 id='sidebar-title' >Audio Suite</h2>

    <button id="sidebar-officeHeader" (click)="toggleOfficeListView()">
        <i id="officeListIcon" class="tim-icons icon-minimal-down"></i> Offices:
    </button>
    <div id="officeList" class="showOffices">
        <div class="box" *ngIf="!officeListLoaded">
            <div class="container">
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
            </div>
        </div>
        <div *ngIf="officeListLoaded">
            <div *ngFor="let office of officeList">
                <button class="officeBtn" (click)="selectOffice(office.id, office.name, office.invite)">{{office.name}}</button>
                <br>
            </div>
        </div>
    </div>

    <div *ngIf="officeSelected">
        <br>
        <button id="sidebar-officeHeader" (click)="toggleOfficeSettingsListView()">
            <i id="officeSettingsListIcon" class="tim-icons icon-minimal-down"></i> Office Settings:
        </button>
        <div id="officeSettingsList" class="showOfficeSettings">
            <button class="sidebarBtn" (click)="showSendInviteModal()">Send Invite</button>
            <br>
            <button class="sidebarBtn" (click)="leaveOffice()">Leave Office</button>
            <br>
        </div>
    </div>

    <br>
    <div>
        <button id="sidebar-officeHeader" (click)="toggleQuickSettingsListView()">
            <i id="quickSettingsListIcon" class="tim-icons icon-minimal-down"></i> Quick Settings:
        </button>
        <div id="quickSettingsList" class="showQuickSettings">
            <button class="sidebarBtn" (click)="logOut()">Log out</button>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="content">
    <div *ngIf="!officeSelected" class="newJoinOfficeContent">
        <div class="card card-registerNewOffice" id="card-newOffice">
            <div class="card-header">
              <img
                alt="Card image"
                class="card-img"
                src="assets/img/square-purple-1.png"
              />

              <h4 class="card-title">New Office</h4>
            </div>
            <div id="alertPosition">
              <div *ngIf="sendNewOfficeAlert">
                <alert class="alert-with-icon" [type]="'primary alert-with-icon'">
                    <span class=" tim-icons icon-trophy" data-notify="icon">
                    </span>
                    <span>
                      {{ newOfficeAlertMsg }}
                    </span>
                </alert>
              </div>
            </div>
            <div class="card-body">
              <form class="form">
                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-email-85"> </i>
                    </div>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Office Name"
                    name= "newOfficeName"
                    [(ngModel)]="newOfficeName"
                    type="text"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button 
                  data-target="#formModal"
                  (click)="createNewOffice();"
                  class="btn btn-success btn-round btn-lg"
              >
                  Create New Office
              </button>
            </div>
          </div>

          <div class="card card-joinOffice" id="card-joinOffice">
            <div class="card-header">
              <img
                alt="Card image"
                class="card-img"
                src="assets/img/square-purple-1.png"
              />

              <h4 class="card-title">Join Office</h4>
            </div>
            <div id="alertPosition">
              <div *ngIf="sendJoinOfficeAlert">
                <alert class="alert-with-icon" [type]="'primary alert-with-icon'">
                    <span class=" tim-icons icon-trophy" data-notify="icon">
                    </span>
                    <span>
                      {{ joinOfficeAlertMsg }}
                    </span>
                </alert>
              </div>
            </div>
            <div class="card-body">
              <form class="form">
                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus2 === true }"
                >
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-email-85"> </i>
                    </div>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Office Invite Code"
                    name= "joinOfficeCode"
                    [(ngModel)]="joinOfficeCode"
                    type="text"
                    (focus)="focus2 = true"
                    (blur)="focus2 = false"
                  />
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button 
                  data-target="#formModal"
                  (click)="joinOffice();"
                  class="btn btn-success btn-round btn-lg"
              >
                  Join Office
              </button>
            </div>
          </div>

        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
        <div class="square square-7" id="square7"></div>
        <div class="square square-8" id="square8"></div>
    </div>


    <div *ngIf="officeSelected">
        <h2 style="margin-top: 10px; margin-bottom: 5px;">
            {{selectedOffice}}
        </h2>
    </div>
    <tabset *ngIf="officeSelected" class="nav-tabs-primary" (click)="tabSetOpened()">
        <tab>
            <ng-template tabHeading>
                <i class="tim-icons icon-bank"> </i> Floor Plan
            </ng-template>
            <p>
                Collaboratively administrate empowered markets via
                plug-and-play networks. Dynamically procrastinate B2C
                users after installed base benefits. <br />

                <br />

                Dramatically visualize customer directed convergence
                without revolutionary ROI.
            </p>
        </tab>
        <tab>
            <ng-template tabHeading>
                <i class="tim-icons icon-email-85"> </i> Text Channel
            </ng-template>
            <div class="TextChannelContent">
                <div class="messageBoard" id="messageBoard" #scrollframe>
                    <!--Messages will be displayed here when fetched from the server.-->
                    <div *ngFor="let message of officeTextChannelMessages" #messageitem>
                        <div>
                            <div *ngIf="message.sender == userUsername; then incommingMessage else outgoingMessage"></div>
                            <ng-template #incommingMessage>
                                <div class="message">
                                    <div class="outgoing">
                                        <p>{{message.sender}}</p>
                                        <p class="messageContent">{{message.message}}</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #outgoingMessage>
                                <div class="message">
                                    <div class="incomming">
                                        <p>{{message.sender}}</p>
                                        <p class="messageContent">{{message.message}}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                
                <form>
                    <div class="newMessageInput form-group">
                        <input name="newMessageInput" [(ngModel)]="newMessageInput" type="text" class="form-control"> 
                        <button type="submit" id="sendOfficeMessageBtn" class="btn btn-primary btn-sm" (click)="sendMessage()"><i class="tim-icons icon-send"> </i>  Send</button>
                    </div>
                </form>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>
                <i class="tim-icons icon-components"> </i> Kanban Boards
            </ng-template>
            <div class="board_component">
                <app-list *ngFor="let list of lists" [list]="list" [cardStore]="cardStore"></app-list>
            </div>
        </tab>
    </tabset>
</div>

<div *ngIf="showInviteModal ? formModal.show() : formModal.hide()" ></div>
<div 
    aria-hidden="true"
    aria-labelledby="myModalLabel"
    bsModal
    class="modal fade modal-black"
    #formModal="bs-modal"
    id="formModal"
    role="dialog"
    tabindex="-1"
    style="margin-left: 15%"
    >
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header justify-content-center">
        <button
            aria-hidden="true"
            class="close"
            data-dismiss="modal"
            (click)="hideSendInviteModal()"
            type="button"
        >
            <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
            <h3 class="mb-0">Enter details of invitee:</h3>
        </div>
        </div>
        <div class="modal-body">
        <form role="form">
            <div *ngIf="sendOfficeInviteAlert">
                <alert class="alert-with-icon" [type]="'primary alert-with-icon'">
                    <span class=" tim-icons icon-trophy" data-notify="icon">
                    </span>
                    <span>
                        {{ officeInviteAlertMsg }}
                    </span>
                </alert>
                </div>
            <div class="form-group mb-3">
                <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focus6===true}">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                    </span>
                    </div>
                    <input
                        class="form-control"
                        placeholder="Name"
                        name="sendInviteToName"
                        [(ngModel)]="sendInviteToName"
                        type="text"
                        (focus)="focus6=true" 
                        (blur)="focus6=false"
                    />
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focus7===true}">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                    </span>
                    </div>
                    <input
                        class="form-control"
                        placeholder="Email"
                        name="sendInviteToEmail"
                        [(ngModel)]="sendInviteToEmail"
                        type="email"
                        (focus)="focus7=true" 
                        (blur)="focus7=false"
                    />
                </div>
            </div>
            <div class="text-center">
                <button 
                    class="btn btn-success my-4" 
                    type="button"
                    (click)="sendOfficeInvite()"
                >
                    Submit
                </button>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>
