<!-- sidebar -->
<div class="sidebar">
    <h2 id='sidebar-title' >Audio Suite</h2>

    <button id="sidebar-officeHeader" (click)="toggleOfficeListView()">
        <i id="officeListIcon" class="tim-icons icon-minimal-down"></i> Offices:
    </button>
    <div id="officeList" class="showOffices">
        <button class="officeBtn" (click)="selectOffice('Epi-Use')">Epi-Use</button>
        <br>
        <button class="officeBtn" (click)="selectOffice('Tuks-CS')">Tuks CS</button>
        <br>
        <button class="officeBtn" (click)="selectOffice('Project')">Project</button>
        <br>
        <button class="officeBtn" (click)="selectOffice('Pegasus')">Pegasus</button>
        <br>
    </div>

    <br>
    <br>
    <div *ngIf="officeSelected">
        <button id="sidebar-officeHeader" (click)="toggleQuickSettingsListView()">
            <i id="officeListIcon" class="tim-icons icon-minimal-down"></i> Quick Settings:
        </button>
        <div id="quickSettingsList" class="showQuickSettings">
            <button class="sidebarBtn" (click)="leaveOffice()">Leave Office</button>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="content">
    <div *ngIf="officeSelected">
        <h2 style="margin-top: 10px; margin-bottom: 5px;">
            {{selectedOffice}}
        </h2>
    </div>
    <tabset *ngIf="officeSelected" class="nav-tabs-primary">
        <tab>
            <ng-template tabHeading>
                <i class="tim-icons icon-bank"> </i> Floor Plan
            </ng-template>
            <p>
                Collaboratively administrate empowered markets via
                plug-and-play networks. Dynamically procrastinate B2C
                users after installed base benefits. <br />

                <br />

                Dramatically visualize customer directed convergence
                without revolutionary ROI.
            </p>
        </tab>
        <tab>
            <ng-template tabHeading>
                <i class="tim-icons icon-email-85"> </i> Text Channel
            </ng-template>
            <div class="TextChannelContent">
                <div class="messageBoard" id="messageBoard">
                    <!--Messages will be displayed here when fetched from the server.-->
                </div>
                
                <form>
                    <div class="newMessageInput form-group">
                        <input name="newMessageInput" [(ngModel)]="newMessageInput" type="text" class="form-control"> 
                        <button type="submit" class="btn btn-primary btn-sm" (click)="sendMessage()">Send</button>
                    </div>
                </form>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>
                <i class="tim-icons icon-components"> </i> Kanban Boards
            </ng-template>
            <div class="board_component">
                <app-list *ngFor="let list of lists" [list]="list" [cardStore]="cardStore"></app-list>
            </div>
        </tab>
    </tabset>
</div>
