<!-- sidebar -->
<div class="sidebar" id="Sidebar">
    <h1 id='sidebar-title' >Audio Suite</h1>

    <button id="sidebar-officeHeader" (click)="toggleOfficeListView()">
        <i id="officeListIcon" class="tim-icons icon-minimal-down"></i>  Offices:
    </button>
    <div id="officeList" class="showOffices">
        <div class="box" *ngIf="!officeListLoaded">
            <div class="container">
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
              <span class="circle"></span>
            </div>
        </div>
        <div *ngIf="officeListLoaded">
            <div *ngFor="let office of officeList">
                <button 
                class="officeBtn" 
                (click)="selectOffice(office.id, office.name, office.invite, office.role)"
                >
                    <div class="officeName">
                        {{office.name}}
                    </div>    
                </button>
                <br>
            </div>
        </div>
    </div>

    <div *ngIf="officeSelected">
        <br>
        <button id="sidebar-officeHeader" (click)="toggleOfficeSettingsListView()">
            <i id="officeSettingsListIcon" class="tim-icons icon-minimal-down"></i> Office Settings:
        </button>
        <div id="officeSettingsList" class="showOfficeSettings">
            <button *ngIf="selectedOfficeRole == 'Manager'" class="sidebarBtn" (click)="showSendInviteModal()">
                <div class="settingType">
                    Send Invite
                </div>
            </button>
            <br *ngIf="selectedOfficeRole == 'Manager'">
            <div *ngIf="selectedOfficeRole == 'Manager'">
                <div *ngIf="inFloorPlanEditorMode; then closeEditorMode else openEditorMode"></div>
                <ng-template #openEditorMode>
                    <button class="sidebarBtn" (click)="EditFloorPlan()">
                        <div class="settingType">
                            Edit FloorPlan
                        </div>
                    </button>
                    <br>
                </ng-template>
                <ng-template #closeEditorMode>
                    <button class="sidebarBtn" (click)="closeEditFloorPlan()">
                        <div class="settingType">
                            Exit Edit Mode
                        </div>
                    </button>
                    <br>
                </ng-template>
            </div>
            <button class="sidebarBtn" (click)="leaveOffice()">
                <div class="settingType">
                    Leave Office
                </div>
            </button>
            <br>
        </div>
    </div>

    <br>
    <div>
        <button id="sidebar-officeHeader" (click)="toggleQuickSettingsListView()">
            <i id="quickSettingsListIcon" class="tim-icons icon-minimal-down"></i> Quick Settings:
        </button>
        <div id="quickSettingsList" class="showQuickSettings">
            <button *ngIf="sidebarOpened" class="sidebarBtn" (click)="toggleSidebar()">
                <div class="settingType">
                    Close Sidebar
                </div>
            </button>
            <button class="sidebarBtn" (click)="logOut()">
                <div class="settingType">
                    Log Out
                </div>
            </button>
        </div>
    </div>

    <!-- <button id="sidebar-officeHeader" > Account Settings </button> -->
</div>

<div class="showHiddenSidebar">
    <button id="showTaskBar" (click)="toggleSidebar()">
        <i class="tim-icons icon-align-center"></i>
    </button>
    <!-- GlobalAlert -->
    <!-- Success Alert -->
    <alert 
        *ngIf="showSuccessGlobalAlert" 
        class="alert-with-icon" 
        [type]="'success alert-with-icon'" 
        style="width: 75%; margin-left: 15%; margin-bottom: 5px; margin-top: 16px; z-index: 5;" 
        [dismissible]="true"
        (click)="closeAlert()"
        >
        <span class="tim-icons icon-trophy" data-notify="icon">
        </span>
        <span>
        <b>
            {{ globalAlertType }}
        </b>
        {{ globalAlertMsg }}
        </span>
    </alert>
    <!-- Primary Alert -->
    <alert 
        *ngIf="showPrimaryGlobalAlert" 
        class="alert-with-icon" 
        [type]="'primary alert-with-icon'" 
        style="width: 75%; margin-left: 15%; margin-bottom: 5px; margin-top: 16px; z-index: 5;" 
        [dismissible]="true"
        (click)="closeAlert()"
        >
        <span class="tim-icons icon-trophy" data-notify="icon">
        </span>
        <span>
        <b>
            {{ globalAlertType }}
        </b>
        {{ globalAlertMsg }}
        </span>
    </alert>
</div>

<!-- Page content -->
<div class="content" id="Content">
    <div *ngIf="!officeSelected" class="newJoinOfficeContent" id="newJoinOfficeContent">
        <div class="card card-registerNewOffice" id="card-newOffice">
            <div class="card-header">
              <h4 class="card-title" style="padding-left: 15px">New Office</h4>
            </div>
            <div id="alertPosition">
              <div *ngIf="sendNewOfficeAlert">
                <alert class="alert-with-icon" [type]="'primary alert-with-icon'">
                    <span class=" tim-icons icon-trophy" data-notify="icon">
                    </span>
                    <span>
                      {{ newOfficeAlertMsg }}
                    </span>
                </alert>
              </div>
            </div>
            <div class="card-body">
              <form class="form">
                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-email-85"> </i>
                    </div>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Office Name"
                    name= "newOfficeName"
                    [(ngModel)]="newOfficeName"
                    type="text"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button 
                  data-target="#formModal"
                  (click)="createNewOffice();"
                  class="btn btn-success btn-round btn-lg"
              >
                  Create New Office
              </button>
            </div>
          </div>

          <div class="card card-joinOffice" id="card-joinOffice">
            <div class="card-header">
              <h4 class="card-title" style="padding-left: 15px">Join Office</h4>
            </div>
            <div id="alertPosition">
              <div *ngIf="sendJoinOfficeAlert">
                <alert class="alert-with-icon" [type]="'primary alert-with-icon'">
                    <span class=" tim-icons icon-trophy" data-notify="icon">
                    </span>
                    <span>
                      {{ joinOfficeAlertMsg }}
                    </span>
                </alert>
              </div>
            </div>
            <div class="card-body">
              <form class="form">
                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus2 === true }"
                >
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-email-85"> </i>
                    </div>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Office Invite Code"
                    name= "joinOfficeCode"
                    [(ngModel)]="joinOfficeCode"
                    type="text"
                    (focus)="focus2 = true"
                    (blur)="focus2 = false"
                  />
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button 
                  data-target="#formModal"
                  (click)="joinOffice();"
                  class="btn btn-success btn-round btn-lg"
              >
                  Join Office
              </button>
            </div>
          </div>

        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
        <div class="square square-7" id="square7"></div>
        <div class="square square-8" id="square8"></div>
    </div>
    <tabset *ngIf="officeSelected" class="nav-tabs-primary" (click)="tabSetOpened()">
        <tab>
            <ng-template tabHeading>
                <i class="tim-icons icon-components"> </i> Floor Plan
            </ng-template>
            <div class="floorPlanContent" id="floorPlanContent">
                <div *ngIf="!disableDrag" class="addRoomContainer">
                    <button id="showAddRoomModalBtn" class="btn btn-primary btn-round" (click)="showAddModal()">
                        Add New Room
                    </button>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-xl-7" style="height: 85vh">
                        <div id="grid-content">
                            <ktd-grid
                                [cols]="cols"
                                [rowHeight]="rowHeight"
                                [layout]="layout"
                                [compactType]="compactType"
                                [preventCollision]="preventCollision"
                                [scrollableParent]="scrollableParent"
                                (layoutUpdated)="onLayoutUpdated($event)">
                                <div *ngFor="let room of floorPlan">
                                    <ktd-grid-item 
                                        class="ktd-grid-item" 
                                        [id]="room.RoomLayout.id" [transition]="currentTransition"
                                        [dragStartThreshold]="dragStartThreshold" 
                                        [draggable]="!disableDrag" 
                                        [resizable]="!disableResize">
                                            <div *ngIf="disableDrag; then click else dblClick"></div>
                                            <ng-template #click>
                                                <div *ngIf="selectedRoom == room.RoomLayout.id; then leaveRoom else enterRoom"></div>
                                                <ng-template #enterRoom>
                                                    <div class="grid-item-content">
                                                        <button (click)="selectRoom(room.RoomLayout.id, room.RoomType, false)" class="grid-item-button">
                                                            <b>{{ room.RoomLayout.id }}</b>
                                                            <br>
                                                            <span *ngIf="room.RoomType == 'VR'">{{ room.RoomType }}</span>
                                                            <span *ngIf="room.RoomType == 'Private'">{{ room.RoomType }}</span>
                                                        </button>
                                                        <app-audio #joinAudio [userId]="userID"></app-audio>
                                                    </div>
                                                </ng-template>
                                                <ng-template #leaveRoom>
                                                    <div class="grid-item-content-leave">
                                                        <button (click)="selectRoom(room.RoomLayout.id, room.RoomType, true); leaveAudio.leave()" class="grid-item-button">
                                                            <b>{{ room.RoomLayout.id }}</b>
                                                        </button>
                                                        <app-audio #leaveAudio></app-audio>
                                                    </div>
                                                </ng-template>
                                            </ng-template>
                                            <ng-template #dblClick>
                                                <div class="grid-item-content-remove">
                                                    <button 
                                                    (dblclick)="removeRoom(room.RoomLayout.id)" 
                                                    class="grid-item-button"
                                                    >
                                                        <b>{{ room.RoomLayout.id }}</b>
                                                    </button>
                                                </div>
                                            </ng-template>
                                    </ktd-grid-item>
                                </div>
                            </ktd-grid>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-5" style="height: 85vh">
                        <div id="UserRoomList-content">
                            <div *ngFor="let roomUserItem of roomUsersList">
                                <button id="sidebar-roomHeader"  class="underline" (click)="toggleRoomListView(roomUserItem.IconID, roomUserItem.UserListID)">
                                    <!-- <i id={{roomUserItem.IconID}} class="tim-icons icon-minimal-down"></i>  {{roomUserItem.Room}} -->
                                    <span>{{roomUserItem.Room}}</span><svg viewBox="0 0 13 20"><polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" /></svg>
                                </button>
                                <div id={{roomUserItem.UserListID}} class="userNameInRoomUserList" *ngFor="let user of roomUserItem.RoomUsers">
                                    <p
                                        style="display: flex; justify-content: left; padding-left: 13%;"
                                    >
                                        {{user}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>
                <i class="tim-icons icon-chat-33"> </i> Text Channel
            </ng-template>
            <div class="TextChannelContent" id="TextChannelContent">
                <div class="messageBoard" id="messageBoard" #scrollframe>
                    <!--Messages will be displayed here when fetched from the server.-->
                    <div *ngFor="let message of officeTextChannelMessages" #messageitem>
                        <div>
                            <div *ngIf="message.sender == userUsername; then incommingMessage else outgoingMessage"></div>
                            <ng-template #incommingMessage>
                                <div class="message">
                                    <div class="outgoing">
                                        <p>{{message.sender}}</p>
                                        <p class="messageContent">{{message.message}}</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #outgoingMessage>
                                <div class="message">
                                    <div class="incomming">
                                        <p>{{message.sender}}</p>
                                        <p class="messageContent">{{message.message}}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                
                <form>
                    <div class="newMessageInput form-group">
                        <input name="newMessageInput" [(ngModel)]="newMessageInput" type="text" class="form-control"> 
                        <button type="submit" id="sendOfficeMessageBtn" class="btn btn-primary btn-sm" (click)="sendMessage(selectedOffice)"><i class="tim-icons icon-send"> </i>  Send</button>
                    </div>
                </form>
            </div>
        </tab>
        <tab *ngIf="roomSelected">
            <ng-template tabHeading>
                <i class="tim-icons icon-chat-33"> </i> {{ selectedRoom }} Channel
            </ng-template>
            <div class="TextChannelContent">
                <div class="messageBoard" id="messageBoardRoom" #scrollRoomframe>
                    <!--Messages will be displayed here when fetched from the server.-->
                    <div *ngFor="let message of roomTextChannelMessages" #messageRoomitem>
                        <div>
                            <div *ngIf="message.sender == userUsername; then incommingMessage else outgoingMessage"></div>
                            <ng-template #incommingMessage>
                                <div class="message">
                                    <div class="outgoing">
                                        <p>{{message.sender}}</p>
                                        <p class="messageContent">{{message.message}}</p>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #outgoingMessage>
                                <div class="message">
                                    <div class="incomming">
                                        <p>{{message.sender}}</p>
                                        <p class="messageContent">{{message.message}}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                
                <form>
                    <div class="newMessageInput form-group">
                        <input name="newMessageInput" [(ngModel)]="newMessageInput" type="text" class="form-control"> 
                        <button type="submit" id="sendOfficeMessageBtn" class="btn btn-primary btn-sm" (click)="sendMessage(selectedRoom)"><i class="tim-icons icon-send"> </i>  Send</button>
                    </div>
                </form>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>
                <i class="tim-icons icon-time-alarm"> </i> Time Tracker
            </ng-template>
            <div class="timeTrackerContent" id="timeTrackerContent">
                <div class="row">
                    <div class="col-lg-8 col-xl-8" style="height: 85vh">
                        <div *ngIf="showTimeTrackerTab == 'timeTracker'" class="TimeTrackDashboard" id="TimeTrackDashboard">
                            <div *ngIf="displayBigScreenTracker; then bigScreen else smallScreen"></div>
                            <ng-template #bigScreen>
                                <div class="newTrackerForm">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        name="timeTrackerDescription" 
                                        id="workDescription"
                                        [(ngModel)]="timeTrackerDescription"
                                    >
                                    <div id="ProjectDiv">
                                        <div *ngIf="timeTrackerProjectSelected; then showSelectedProject else showDropdown"></div>
                                        <ng-template #showSelectedProject>
                                            <div id="selectedProject">
                                                <button 
                                                    class=" btn btn-primary" 
                                                    id="removeProject-btn"
                                                    (click)="removeSelectedProject()"
                                                    type="button"
                                                >{{ selectedProject }} <i class="tim-icons icon-simple-remove"></i>
                                                </button>
                                            </div>
                                        </ng-template>
                                        <ng-template #showDropdown>
                                            <div class=" btn-group dropdown" id="ProjectDropdown" dropdown>
                                                <button 
                                                    aria-expanded="false" 
                                                    aria-haspopup="true" 
                                                    class=" btn btn-primary dropdown-toggle dropdown-toggle" 
                                                    data-toggle="dropdown" 
                                                    dropdownToggle 
                                                    id="project-btn"
                                                    type="button"
                                                >
                                                    <i class="tim-icons icon-book-bookmark"></i>
                                                </button>
                                                <div class=" dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenuLink">
                                                    <div *ngIf="timeTrackingProjects.length == 0; then NoProjects else displayProjects"></div>
                                                    <ng-template #NoProjects>
                                                        <p style="color: black; text-align: center;">
                                                            No Projects found.
                                                        </p>
                                                        <div class=" dropdown-divider"></div>
                                                        <button class=" dropdown-item" style="cursor: pointer;" (click)="setTimeTrackerTab('projects')">
                                                            Add Project
                                                        </button>
                                                    </ng-template>
                                                    <ng-template #displayProjects>
                                                        <div *ngFor="let project of timeTrackingProjects">
                                                            <button class=" dropdown-item" (click)="setTimeTrackerProject(project.id, project.project)">
                                                                {{ project.project }}
                                                            </button>
                                                        </div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                    <div id="TagDiv">
                                        <div *ngIf="timeTrackerTagSelected; then showSelectedTag else showTagDropdown"></div>
                                        <ng-template #showSelectedTag>
                                            <div id="selectedTag">
                                                <button 
                                                    class=" btn btn-primary" 
                                                    id="removeTag-btn"
                                                    (click)="removeSelectedTag()"
                                                    type="button"
                                                >{{ selectedTag }} <i class="tim-icons icon-simple-remove"></i>
                                                </button>
                                            </div>
                                        </ng-template>
                                        <ng-template #showTagDropdown>
                                            <div class="btn-group dropdown" id="TagDropdown" dropdown>
                                                <button 
                                                    aria-expanded="false" 
                                                    aria-haspopup="true" 
                                                    class="btn btn-primary dropdown-toggle dropdown-toggle" 
                                                    data-toggle="dropdown" 
                                                    dropdownToggle 
                                                    id="tag-btn"
                                                    type="button"
                                                >
                                                    <i class="tim-icons icon-tag"></i>
                                                </button>
                                                <div class=" dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenuLink">
                                                    <div *ngIf="timeTrackingTags.length == 0; then NoTags else displayTags"></div>
                                                    <ng-template #NoTags>
                                                        <p style="color: black; text-align: center;">
                                                            No Tags found.
                                                        </p>
                                                        <div class=" dropdown-divider"></div>
                                                        <button class=" dropdown-item" style="cursor: pointer;" (click)="setTimeTrackerTab('tags')">
                                                            Add Tag
                                                        </button>
                                                    </ng-template>
                                                    <ng-template #displayTags>
                                                        <div *ngFor="let tag of timeTrackingTags">
                                                            <button class=" dropdown-item" (click)="setTimeTrackerTag(tag.id, tag.tag)">
                                                                {{ tag.tag }}
                                                            </button>
                                                        </div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                    <div id="timer">
                                        <p>
                                            <span id="timerHour">00</span>:<span id="timerMinute">00</span>:<span  id="timerSecond">00</span>
                                        </p>
                                    </div>
                                    <button id="startTimer-btn" class="btn btn-success" (click)="startTrackingTimer()"><i class="tim-icons icon-triangle-right-17"></i></button>
                                    <button id="stopTimer-btn" class="btn btn-danger" (click)="stopTrackingTimer()"><i class="tim-icons icon-simple-remove"></i></button>
                                </div>
                            </ng-template>
                            <ng-template #smallScreen>
                                <div class="newTrackerFormTop">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        name="timeTrackerDescription" 
                                        id="workDescription"
                                        [(ngModel)]="timeTrackerDescription"
                                    >
                                    
                                    <div id="timer">
                                        <p>
                                            <span id="timerHour">00</span>:<span id="timerMinute">00</span>:<span  id="timerSecond">00</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="newTrackerFormBottom">
                                    <div id="ProjectDiv">
                                        <div *ngIf="timeTrackerProjectSelected; then showSelectedProject else showDropdown"></div>
                                        <ng-template #showSelectedProject>
                                            <div id="selectedProject">
                                                <p>
                                                    {{ selectedProject }}
                                                </p>
                                            </div>
                                        </ng-template>
                                        <ng-template #showDropdown>
                                            <div class=" btn-group dropdown" id="ProjectDropdown" dropdown>
                                                <button 
                                                    aria-expanded="false" 
                                                    aria-haspopup="true" 
                                                    class=" btn btn-primary dropdown-toggle dropdown-toggle" 
                                                    data-toggle="dropdown" 
                                                    dropdownToggle 
                                                    id="project-btn"
                                                    type="button"
                                                >
                                                    <i class="tim-icons icon-book-bookmark"></i>
                                                </button>
                                                <div class=" dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenuLink">
                                                    <div *ngIf="timeTrackingProjects.length == 0; then NoProjects else displayProjects"></div>
                                                    <ng-template #NoProjects>
                                                        <p style="color: black; text-align: center;">
                                                            No Projects found.
                                                        </p>
                                                        <div class=" dropdown-divider"></div>
                                                        <button class=" dropdown-item" style="cursor: pointer;" (click)="setTimeTrackerTab('projects')">
                                                            Add Project
                                                        </button>
                                                    </ng-template>
                                                    <ng-template #displayProjects>
                                                        <div *ngFor="let project of timeTrackingProjects">
                                                            <button class=" dropdown-item" (click)="setTimeTrackerProject(project.id, project.project)">
                                                                {{ project.project }}
                                                            </button>
                                                        </div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                    <div class="btn-group dropdown" id="AddTagDiv" dropdown>
                                        <button 
                                            aria-expanded="false" 
                                            aria-haspopup="true" 
                                            class="btn btn-primary dropdown-toggle dropdown-toggle" 
                                            data-toggle="dropdown" 
                                            dropdownToggle 
                                            id="tag-btn"
                                            type="button"
                                        >
                                            <i class="tim-icons icon-tag"></i>
                                        </button>
                                        <div class=" dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenuLink">
                                          <a class=" dropdown-item" href="#">
                                            Action
                                          </a>
                                          <a class=" dropdown-item" href="#">
                                            Another action
                                          </a>
                                          <a class=" dropdown-item" href="#">
                                            Something else here
                                          </a>
                                          <div class=" dropdown-divider">
                                          </div>
                                          <a class=" dropdown-item" href="#">
                                            Separated link
                                          </a>
                                        </div>
                                    </div>
                                    <button id="startTimer-btn" class="btn btn-success" (click)="startTrackingTimer()"><i class="tim-icons icon-triangle-right-17"></i></button>
                                    <button id="stopTimer-btn" class="btn btn-danger" (click)="stopTrackingTimer()"><i class="tim-icons icon-simple-remove"></i></button>
                                </div>
                            </ng-template>
                            <div class="userTimeTrackerList" id="userTimeTrackerList">
                                <div id="instanceListHeader">
                                    <p id="instanceHeader">
                                        Description
                                    </p>
                                    <p id="instanceHeaderDate">
                                        Date
                                    </p>
                                    <p id="instanceHeaderDuration">
                                        Duration
                                    </p>
                                </div>
                                <div *ngFor="let instance of timeTrackingUserInstances">
                                    <div class="instanceItem">
                                        <p class="instanceDescription">
                                            {{ instance.description }}
                                        </p>
                                        <button class="btn btn-success projectDisabledBtn" disabled>{{ instance.projectName }}</button>
                                        <button class="btn btn-success tagDisabledBtn" disabled>{{ instance.tagName }}</button>
                                        <p class="instanceDate">
                                            {{ instance.date }}
                                        </p>
                                        <p class="instanceStartEnd">
                                            {{ instance.startEnd }}
                                        </p>
                                        <p class="instanceDuration">
                                            {{ instance.duration }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showTimeTrackerTab == 'projects'" class="TimeTrackProjects">
                            <div class="timeTrackerProjectForms">
                                <div id="filterProjectListForm">
                                    <div style="width: 100%;" class=" btn-group dropdown" dropdown>
                                        <button aria-expanded="false" aria-haspopup="true" style="width: 100%;" class=" btn btn-primary dropdown-toggle dropdown-toggle" data-toggle="dropdown" dropdownToggle id="filter-dropdown" type="button">
                                          Filter By
                                        </button>
                                        <div class=" dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenuLink">
                                          <button class=" dropdown-item">
                                            A-Z
                                          </button>
                                          <button class=" dropdown-item">
                                            Z-A
                                          </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="SeparatingSpace">

                                </div>
                                <div id="addNewProjectForm">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        name="newProjectName" 
                                        id="newProjectNameInput"
                                        [(ngModel)]="newProjectName"
                                    >
                                    <button id="addNewProject-btn" class="btn btn-primary" (click)="addNewProject()">Add</button>
                                </div>
                            </div>
                            <div class="timeTrackerProjectList">
                                <div id="projectListHeader">
                                    <p id="projectNameHeader">
                                        Project Name
                                    </p>
                                </div>
                                <div *ngFor="let project of timeTrackingProjects">
                                    <div class="projectItem">
                                        <div class="projectNameDiv">
                                            <p class="projectName">
                                                {{ project.project }}
                                            </p>
                                        </div>
                                        <div class="spacer">

                                        </div>
                                        <button class="btn btn-success projectEditBtn" (click)="editProject(project.id)"><i class="tim-icons icon-pencil"></i></button>
                                        <button class="btn btn-danger projectDeleteBtn" (click)="deleteProject(project.id)"><i class="tim-icons icon-simple-remove"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showTimeTrackerTab == 'tags'" class="TimeTrackTags">
                            <div class="timeTrackerTagForms">
                                <div id="filterTagListForm">
                                    <div style="width: 100%;" class=" btn-group dropdown" dropdown>
                                        <button aria-expanded="false" aria-haspopup="true" style="width: 100%;" class=" btn btn-primary dropdown-toggle dropdown-toggle" data-toggle="dropdown" dropdownToggle id="filter-dropdown" type="button">
                                          Filter By
                                        </button>
                                        <div class=" dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenuLink">
                                          <button class=" dropdown-item">
                                            A-Z
                                          </button>
                                          <button class=" dropdown-item">
                                            Z-A
                                          </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="SeparatingSpace">

                                </div>
                                <div id="addNewTagForm">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        name="newTagName" 
                                        id="newTagNameInput"
                                        [(ngModel)]="newTagName"
                                    >
                                    <button id="addNewTag-btn" class="btn btn-primary" (click)="addNewTag()">Add</button>
                                </div>
                            </div>
                            <div class="timeTrackerTagList">
                                <div id="tagListHeader">
                                    <p id="tagNameHeader">
                                        Tag Name
                                    </p>
                                </div>
                                <div *ngFor="let tag of timeTrackingTags">
                                    <div class="tagItem">
                                        <p class="tagName">
                                            {{ tag.tag }}
                                        </p>
                                        <div class="spacer">

                                        </div>
                                        <button class="btn btn-success tagEditBtn" (click)="editTag(tag.id)"><i class="tim-icons icon-pencil"></i></button>
                                        <button class="btn btn-danger tagDeleteBtn" (click)="deleteTag(tag.id)"><i class="tim-icons icon-simple-remove"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4" style="height: 85vh">
                        <div id="timeTrackerOptions">
                            <button 
                                class="sidebar-timeTrackerOption underline"
                                style="color: white;"
                                (click)="setTimeTrackerTab('timeTracker')"
                            >
                                <!-- <i class="tim-icons icon-minimal-down"></i>  Time Tracker -->
                                <span>Time Tracker</span><svg viewBox="0 0 13 20"><polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" /></svg>
                            </button>
                            <button 
                                class="sidebar-timeTrackerOption underline"
                                style="color: white;"
                                (click)="setTimeTrackerTab('projects')"
                            >
                                <!-- <i class="tim-icons icon-minimal-down"></i>  Projects -->
                                <span>Projects</span><svg viewBox="0 0 13 20"><polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" /></svg>
                            </button>
                            <button 
                                class="sidebar-timeTrackerOption underline"
                                style="color: white;"
                                (click)="setTimeTrackerTab('tags')"
                            >
                                <!-- <i class="tim-icons icon-minimal-down"></i>  Tags -->
                                <span>Tags</span><svg viewBox="0 0 13 20"><polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" /></svg>
                            </button>
                            <!-- <button 
                                class="sidebar-timeTrackerOption"
                                (click)="setTimeTrackerTab('dashboard')"
                            >
                                <i class="tim-icons icon-minimal-down"></i>  Dashboard
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>
                <i class="tim-icons icon-components"> </i> Kanban Boards
            </ng-template>
            <div class="board_component">
                <app-list *ngFor="let list of lists" [list]="list" [cardStore]="cardStore"></app-list>
            </div>
        </tab>
    </tabset>
</div>

<div *ngIf="displayFormModal ? formModal.show() : formModal.hide()" ></div>
<div 
    aria-hidden="true"
    aria-labelledby="myModalLabel"
    bsModal
    class="modal fade modal-black"
    #formModal="bs-modal"
    id="formModal"
    role="dialog"
    tabindex="-1"
    style="margin-left: 15%"
    >
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header justify-content-center">
        <button
            aria-hidden="true"
            class="close"
            data-dismiss="modal"
            (click)="hideDisplayFormModal()"
            type="button"
        >
            <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto" *ngIf="showInviteModal">
            <h3 class="mb-0">Enter details of invitee:</h3>
        </div>
        <div class="text-muted text-center ml-auto mr-auto" *ngIf="showAddRoomModal">
            <h3 class="mb-0">Enter details of new room:</h3>
        </div>
        </div>
        <div class="modal-body">
        <form role="form" *ngIf="showInviteModal">
            <div *ngIf="sendFormModalAlert">
                <alert class="alert-with-icon" [type]="'primary alert-with-icon'">
                    <span class=" tim-icons icon-trophy" data-notify="icon">
                    </span>
                    <span>
                        {{ formModalAlertMsg }}
                    </span>
                </alert>
                </div>
            <div class="form-group mb-3">
                <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focus6===true}">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                    </span>
                    </div>
                    <input
                        class="form-control"
                        placeholder="Name"
                        name="sendInviteToName"
                        [(ngModel)]="sendInviteToName"
                        type="text"
                        (focus)="focus6=true" 
                        (blur)="focus6=false"
                    />
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focus7===true}">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                    </span>
                    </div>
                    <input
                        class="form-control"
                        placeholder="Email"
                        name="sendInviteToEmail"
                        [(ngModel)]="sendInviteToEmail"
                        type="email"
                        (focus)="focus7=true" 
                        (blur)="focus7=false"
                    />
                </div>
            </div>
            <div class="text-center">
                <button 
                    class="btn btn-success my-4" 
                    type="button"
                    (click)="sendOfficeInvite()"
                >
                    Submit
                </button>
            </div>
        </form>
        <form role="form" *ngIf="showAddRoomModal">
            <div *ngIf="sendFormModalAlert">
                <alert class="alert-with-icon" [type]="'primary alert-with-icon'">
                    <span class=" tim-icons icon-trophy" data-notify="icon">
                    </span>
                    <span>
                        {{ formModalAlertMsg }}
                    </span>
                </alert>
                </div>
            <div class="form-group mb-3">
                <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focus6===true}">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                    </span>
                    </div>
                    <input
                        class="form-control"
                        placeholder="Room Name"
                        name="newRoomName"
                        [(ngModel)]="newRoomName"
                        type="text"
                        (focus)="focus6=true" 
                        (blur)="focus6=false"
                    />
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="roomTypeDropdown">Room Type</label>
                <select 
                    class="form-control"   
                    id="roomTypeDropdown"
                    name="newRoomType"
                    [(ngModel)]="newRoomType"
                >
                  <option value="Normal" selected>Normal</option>
                  <option value="Private">Private</option>
                  <option value="VR">VR</option>
                </select>
              </div>
            <div class="text-center">
                <button 
                    class="btn btn-success my-4" 
                    type="button"
                    (click)="addRoom()"
                >
                    Add Room
                </button>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>
