.container{
    text-align: center;
    margin: auto;
}

#header {
    display: flex;
    justify-content: center;
    position: relative;
}

#back-button {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 65px;
    height: 41px;
	background-color: rgba(23, 25, 65, 0.9);
	$border: 3px;
	color: #FFF;
	background-clip: padding-box;
	border: solid $border transparent;
	border-radius: 1em;
	&:before {
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: -1;
		margin: -$border;
		border-radius: inherit;
		background: linear-gradient(45deg, #0afacf 0%, #dc7bff 100%);
		overflow :auto;
	}
}

#header-text {
    text-align: center;
    font-size: 45px;
}

.sections{
    width: 50%;
    padding: 12px 5px 12px 5px;
    background-color: rgba(23, 25, 65, 0.9);
	display:inline-table;
    margin:0 auto;
	margin-top: 10px;
	position: relative;
	left: 25%;
	$border: 3px;
	color: #FFF;
	background-clip: padding-box;
	border: solid $border transparent;
	border-radius: 1em;
	overflow: none;
	&:before {
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: -1;
		margin: -$border;
		border-radius: inherit;
		background: linear-gradient(45deg, #0afacf 0%, #dc7bff 100%);
		overflow :none;
	}
}

.section-header, .section-header-delete, .subheading, .edit-input, #current-username{
    text-align: center;
}

.section-header-delete{
	color: #e14eca;
}

.edit-input, .section-button{
    display: block;
    margin: 0 auto;
}

.edit-input{
	width: 300px;
	padding: 10px;
	color: white;
	// border: 1px solid violet;
	outline: 0;
	background: #fff;
	background-color: rgba(23, 25, 65, 0.9);
	border:none;
	// border-bottom:1px solid violet ;
	box-shadow:none;
	transition: border-bottom 0.3s;
}
.edit-input:focus{
	border-bottom:1px solid violet ;
}

.section-button {
	width: 50%;
	display: block;
	text-decoration: none;
	margin-top: 10px;
	background-color: rgba(58, 63, 156, 0.1);
	border: 2px solid rgba(23, 25, 65, 0.9);
	border-radius: 1em;
	color: #e14eca;
	outline: none;
	transition: border-color 0.3s;
}

.section-button:hover{
	border-color: #e14eca;
}