<div class="content">

    <div id="header">
        <button id="back-button" (click)="userNav()"> Back </button>
        <h1 id="header-text"> Account Settings </h1>
    </div>

    <div class="sections">
        <h2 class="section-header">Edit Username</h2>
        <h4 class="subheading" >Enter your new username below.</h4>
        <input class="edit-input" id="update-username" type="text" placeholder={{userUsername}}>
        <button class="section-button" (click)="updateUsername()" >Edit Username</button>
    </div>

    <br>

    <div class="sections">
        <h2 class="section-header">Edit Password</h2>
        <h4 class="subheading" >Enter your new password below.</h4>
        <input class="edit-input" id="update-password" type="text" >
        <button class="section-button" (click)="updatePassword()" >Edit Password</button>
    </div>

    <br>

    <div class="sections">
        <h2 class="section-header">Change Email</h2>
        <h4 class="subheading" id="email-sub" >Enter your new email below.</h4>
        <input class="edit-input" id="update-email" type="text" placeholder={{userEmail}}>
        <button class="section-button" (click)="updateEmail()" >Change Email</button>
    </div>

    <br>

    <div class="sections">
        <h2 class="section-header-delete">Delete Account</h2>
        <h4 class="subheading">Please be careful. All data saved on this account will not be retrievable once 
            you delete your account.
        </h4>
        <button class="section-button" (click)="deleteUser()" >Delete</button>
    </div>


    <div *ngIf="showModal ? formModal.show() : formModal.hide()" ></div>
    <div 
        aria-hidden="true"
        aria-labelledby="myModalLabel"
        class="modal fade modal-black"
        id="formModal"
        role="dialog"
        tabindex="-1"
        >
        <h3>Hello Hello Hello</h3>
        
    </div>
</div>