#header {
    display: flex;
    justify-content: center;
    position: relative;
}

#back-button {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 65px;
    height: 41px;
	background-color: rgba(23, 25, 65, 0.9);
	$border: 3px;
	color: #FFF;
	background-clip: padding-box;
	border: solid $border transparent;
	border-radius: 1em;
	&:before {
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: -1;
		margin: -$border;
		border-radius: inherit;
		background: linear-gradient(45deg, #0afacf 0%, #dc7bff 100%);
		overflow :auto;
	}
}

// .section-button{

// }

#header-text {
    text-align: center;
    font-size: 45px;
}

.sections{
    margin: auto;
    width: 50%;
	color: #FFF;
    background-color: rgba(17, 19, 49, 0.9);
	border: solid 3px rgba(12, 13, 34, 0.9);
    padding: 12px 5px 12px 5px;

    background-color: rgba(23, 25, 65, 0.9);
	// width: 350px;
	// max-width: 350px;
	// padding: 6px;
	// margin-left: 400px;
	// display: inline-block;
	display: inline-table;
	position: relative;
	// right: 40px;
	
	$border: 3px;
	color: #FFF;
	background-clip: padding-box;
	border: solid $border transparent;
	border-radius: 1em;

	// overflow: relative!important;

	overflow: auto;

	// min-height: 200px;
	// max-height: 200px;
	// height: 100%;
	
	&:before {
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: -1;
		margin: -$border;
		border-radius: inherit;
		background: linear-gradient(45deg, #0afacf 0%, #dc7bff 100%);
		overflow :none;
		// min-height: 200px;
		// max-width: 350px;
		// max-height: 200px;
		// height: 100%;
	}
}

.section-header, .edit-input, #current-username{
    text-align: center;
}

.edit-input, .section-button{
    display: block;
    margin: 0 auto;
}