<div class="content">

    <div id="header">
        <button id="back-button" (click)="userNav()"> Back </button>
        <h1 id="header-text"> Account Settings </h1>
    </div>

    <div class="sections">
        <h2 class="section-header">USERNAME</h2>
        <h3 id="current-username">Current Username: {{userUsername}}</h3>
        <input class="edit-input" id="update-username" type="text" >
        <button class="section-button" (click)="updateUsername()" >Edit Username</button>
    </div>

    <br>

    <div class="sections">
        <h2 class="section-header">PASSWORD</h2>
        <input class="edit-input" id="update-password" type="text" >
        <button class="section-button" (click)="updatePassword()" >Edit Password</button>
    </div>

    <br>

    <div class="sections">
        <h2 class="section-header">DELETE USER</h2>
        <button class="section-button" (click)="deleteUser()" >Delete</button>
    </div>

</div>