<body>
<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
        target="_blank"
        tooltip="Audio Suite by Project Pegasus"
        id="audio-suite-nav-title"
      >
        <span>Audio</span> Suite
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> BLK• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="#"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Twitter"
          >
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="#"
            placement="bottom"
            target="_blank"
            tooltip="Like us on Facebook"
          >
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="#"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Instagram"
          >
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/login']"
          >
            Login
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-default d-none d-lg-block"
            href="#download-section1"
          >
            <i class="tim-icons icon-cloud-download-93"> </i> Download
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">Audio Suite</h1>
        <h3>
          A simulated open office environment using spatial audio and Virtual Reality.
        </h3>
      </div>
    </div>
  </div>

  <section id="office-features" class="section section-lg section-safe">
    <div class="container">
      <div class="row row-grid justify-content-between">
          <div id="office-features-blocks" class="col-md-5">
            <div class="px-md-5">
              <hr class="line-success">
              <h1 class="profile-title text-left">Office Space</h1>
              <p class="profile-description"> The design of our office space comes with four built-in pages to enhance your online office experience. After creating an account, you'll be able to create an office or even join an office that you have been invited to. The features that you will have access to within the office include: </p>
            </div>
          </div>
          <div id="office-caro" class="col-md-6">
            <div class="row justify-content-between align-items-center">
              <carousel ng-reflect-show-indicators="true">
                <div tabindex="0" class="carousel slide">
                  <ol class="carousel-indicators">
                    <li class=""></li>
                    <li class="active"></li>
                    <li class=""></li>
                    <li class=""></li>
                  </ol>
                  <div id="caro-sizing" class="carousel-inner" ng-reflect-ng-style="[object Object]" style="display: block;">
                    <slide _nghost-nrw-c91="" aria-hidden="true" class="item carousel-item" style="width: 100%; order: 0;">
                      <div _ngcontent-nrw-c91="" class="item">
                        <img alt="First slide" src="assets/img/timetracker-screen3.jpg" class="d-block">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Time Tracker</h5>
                        </div>
                      </div>
                    </slide>
                    <slide _nghost-nrw-c91="" aria-hidden="false" class="item carousel-item active" style="width: 100%; order: 0;">
                      <div _ngcontent-nrw-c91="" class="item active">
                        <img alt="Second slide" src="assets/img/kanban-screen4.jpg" class="d-block">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Kanban Boards</h5>
                        </div>
                      </div>
                    </slide>
                    <slide _nghost-nrw-c91="" aria-hidden="true" class="item carousel-item" style="width: 100%; order: 0;">
                      <div _ngcontent-nrw-c91="" class="item">
                        <img alt="Third slide" src="assets/img/text-screen3.jpg" class="d-block">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Chatroom</h5>
                        </div>
                      </div>
                    </slide>
                    <slide _nghost-nrw-c91="" aria-hidden="true" class="item carousel-item" style="width: 100%; order: 0;">
                      <div _ngcontent-nrw-c91="" class="item">
                        <img alt="Fourth slide" src="assets/img/floor-screen.jpg" class="d-block">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Floorplan</h5>
                        </div>
                      </div>
                    </slide>
                  </div>
                  <a tabindex="0" role="button" class="left carousel-control carousel-control-prev">
                    <span aria-hidden="true" class="icon-prev carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a tabindex="0" role="button" class="right carousel-control carousel-control-next">
                    <span aria-hidden="true" class="icon-next carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </carousel>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="tim-icons icon-money-coins"></i>
                </div>
                <h4 class="info-title">Office Chatroom</h4>
                <hr class="line-primary">
                <p> Whether it be scheduling the next meeting or sending links and information to your peers, we know how important it is to have an easy access platform to comunicate with your fellow office members. The Chatroom is exactly that! A messaging service that connects you to the Office, allowing you to message whenever you need to. </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-warning">
                  <i class="tim-icons icon-chart-pie-36"></i>
                </div>
                <h4 class="info-title">Kanban Boards</h4>
                <hr class="line-warning">
                <p> Need help organizing and setting up a guideline for a project or even for office outcomes? We've got just the feature. Our Kanban Boards offer office users an office-wide simplistic interface to organize and manage workload and workflow of projects by means of a board with three seperate lists. </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-success">
                  <i class="tim-icons icon-single-02"></i>
                </div>
                <h4 class="info-title">Time Tracker</h4>
                <hr class="line-success">
                <p> It can be very tiresome having to manually fill in your hours during or after work, which is why we have integrated a Time Tracker into the office. The Time Tracker allows you to fill in what you worked, when you worked on it! All of this accessible through our easy-to-follow interface. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <div class="section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6">
          <div class="row justify-content-between align-items-center">
            <carousel ng-reflect-show-indicators="true">
              <div tabindex="0" class="carousel slide">
                <ol class="carousel-indicators">
                  <li class=""></li>
                  <li class="active"></li>
                  <li class=""></li>
                </ol>
                <div id="caro-sizing2" class="carousel-inner" ng-reflect-ng-style="[object Object]" style="display: block;">
                  <slide _nghost-nrw-c91="" aria-hidden="true" class="item carousel-item" style="width: 100%; order: 0;">
                    <div _ngcontent-nrw-c91="" class="item">
                      <img alt="First slide" src="assets/img/VRfrom_whiteboard.PNG" class="d-block">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Office from Whiteboard</h5>
                      </div>
                    </div>
                  </slide>
                  <slide _nghost-nrw-c91="" aria-hidden="false" class="item carousel-item active" style="width: 100%; order: 0;">
                    <div _ngcontent-nrw-c91="" class="item active">
                      <img alt="Second slide" src="assets/img/VRroom.PNG" class="d-block">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Office from Entrance</h5>
                      </div>
                    </div>
                  </slide>
                  <slide _nghost-nrw-c91="" aria-hidden="true" class="item carousel-item" style="width: 100%; order: 0;">
                    <div _ngcontent-nrw-c91="" class="item">
                      <img alt="Third slide" src="assets/img/VRback.PNG" class="d-block">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Office View</h5>
                      </div>
                    </div>
                  </slide>
                </div>
                <a tabindex="0" role="button" class="left carousel-control carousel-control-prev">
                  <span aria-hidden="true" class="icon-prev carousel-control-prev-icon"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a tabindex="0" role="button" class="right carousel-control carousel-control-next">
                  <span aria-hidden="true" class="icon-next carousel-control-next-icon"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </carousel>
          </div>
        </div>
        <div class="col-md-5">
          <hr class="line-success">
          <h1 class="profile-title text-left">Virtual Reality</h1>
          <!-- <h5 class="text-on-back">02</h5> -->
          <p class="profile-description text-left"> The aim of the Virtual Reality offices is to provide a true 3D virtual environment where users can have "face-to-face" meetings and discussions. Each Virtual Reality office in the floor plan represents a unique office in the Virtual Reality space, each of which has full voice communication and an interactive whiteboard to enhance discussions. </p>
        </div>
      </div>
    </div>
  </div>

  <section id="video-section" class="section">
    <img src="assets/img/path4.png" class="path">
    <div class="container">
      <div class="row row-grid justify-content-between">
        <div class="col-md-4">
          <div class="pl-md-4">
            <h1>Virtual Reality Demonstration: </h1>
            <p class="profile-description"> The video alongside displays two Audio Suite developers working in a Virtual Reality office. </p>
            <br>
            <p class="profile-description"> The demonstartion consists of the developers showcasing the the integration of real-life physics as well the ability to use the interactive whiteboard feature, which is integrated into our offices. </p>
          </div>
        </div>
        <div class="col-md-7 mt-lg-7">
          <iframe id="caro-sizing3" width="575" height="323" src="https://www.youtube.com/embed/TsPxQcD9-Vw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>


  <!-- <section id="download-section1" class="section section-lg section-coins"> -->
    <img src="assets/img/path3.png" class="path">
    <div id="download-section1" class="container">
      <div class="row">
        <div class="col-md-4">
          <hr class="line-info">
          <h1><span class="text-info"> Desktop Application </span> </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img src="assets/img/windows-icon.png" class="img-center img-fluid">
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Windows</h4><span></span>
                  <hr class="line-primary">
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">Download the latest version of Audio Suite on Windows now.</li>
                  <!-- <li class="list-group-item">100 emails</li>
                  <li class="list-group-item">24/7 Support</li> -->
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <a href="https://ufile.io/6v11ktn6" target="_blank"><button class="btn btn-primary btn-simple">Start Download</button></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img src="assets/img/linux-icon.png" class="img-center img-fluid"></div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h4 class="text-uppercase">Linux</h4><span></span>
                    <hr class="line-success">
                  </div>
                </div>
                <div class="row">
                  <ul class="list-group">
                    <li class="list-group-item">Download the latest version of Audio Suite on Linux now.</li>
                    <!-- <li class="list-group-item">1000 emails</li>
                    <li class="list-group-item">24/7 Support</li> -->
                  </ul>
                </div>
              </div>
              <div class="card-footer text-center">
                <a href="https://ufile.io/8vebuyip" target="_blank"><button class="btn btn-success btn-simple">Start Download</button></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-coin card-plain">
              <div class="card-header">
                <img src="assets/img/mac-icon.png" class="img-center img-fluid">
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h4 class="text-uppercase">MAC</h4><span></span>
                    <hr class="line-info">
                  </div>
                </div>
                <div class="row">
                  <ul class="list-group">
                    <li class="list-group-item">Download the latest version of Audio Suite on MAC now.</li>
                    <!-- <li class="list-group-item">10K emails</li>
                    <li class="list-group-item">24/7 Support</li> -->
                  </ul>
                </div>
              </div>
              <div class="card-footer text-center">
                <a href="https://ufile.io/vvggbbid" target="_blank"><button class="btn btn-info btn-simple">Start Download</button></a>
              </div>
            </div>
          </div>
      </div>
    </div>
  <!-- </section> -->


  <!-- <section class="section section-lg section-coins"> -->
    <img src="assets/img/path3.png" class="path">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <hr class="line-info">
          <h1><span class="text-info"> Virtual Reality </span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img src="assets/img/vr2-icon.png" class="img-center img-fluid">
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Headset Executable</h4><span>Turn your virtual office into a reality!</span>
                  <hr class="line-primary">
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">Download the VR Executable to experience <b>ALL</b> Audio-Suite features through Virtual Reality.</li>
                  <!-- <li class="list-group-item">100 emails</li>
                  <li class="list-group-item">24/7 Support</li> -->
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
            <a href="https://ufile.io/i3jrt53q" target="_blank"><button class="btn btn-primary btn-simple">Start Download</button></a>
            </div>
          </div>
        </div>
        <!--<div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img src="assets/img/desktop-icon.png" class="img-center img-fluid">
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Desktop Executable</h4><span> No headset? No problem!</span>
                  <hr class="line-success">
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">The Desktop Executable allows you to enjoy the VR experience through your screen, headset free.</li>
                  
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-success btn-simple">Start Download</button>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  <!-- </section> -->


  <footer class="footer" style="margin-top: 360px">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">Audio Suite</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']"> Login </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://opensource.org/licenses/MIT">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://dribbble.com/"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
