body {
    scroll-behavior: smooth;
}

#audio-suite-nav-title{
    color: white;
}

#section-vr{
    display: inline-block;
}

.col-md-4{
    padding-bottom: 70px;
}

.section-lg{
    padding-top: 0;
}

#office-features{
    padding-top: 100px;
}

.info{
    padding-top: 10px;
}

#video-section{
    padding-top: 20px;
}

.profile-description{
    font-size: 16px;
}

#caro-sizing{
    height:323px;
    width: 575px;
    border:solid 1px #cad1d7;
    border-radius: 1em;
}

#caro-sizing2{
    height:323px;
    width: 575px;
    border:solid 1px #cad1d7;
    border-radius: 1em;
}

#caro-sizing3{
    border:solid 1px #cad1d7;
    border-radius: 1em;
}
