body {
    scroll-behavior: smooth;
}

#audio-suite-nav-title{
    color: white;
}

#section-vr{
    display: inline-block;
}

.col-md-4{
    padding-bottom: 70px;
}

.section-lg{
    padding-top: 0;
}

#office-features{
    padding-top: 100px;
}

.info{
    padding-top: 20px;
}

#video-section{
    padding-top: 20px;
}